@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

.me-auto{
    font-size: 17px;
    font-family: Lato;
    font-weight: 400;

    span{
        color: black;
        font-weight: 500;
        font-family: Lato;
        font-size: 20px;
    } 
    
}